# Build files
build
__pycache__
*.egg-info

# Workspace files
.vscode
.idea
config.yaml
.hf_token

# Datasets
data/

# Output/results
output/
results/
*.png
*.json

# Logs
logs/
*.log

# Scratch files
*scratch*
experiments/